@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
  padding: 20px;
} */

html{
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body{
  background: #121212;
  color: lightgray;
}

section{
  height: 100vh;
  scroll-snap-align: center;
}